.about-page {
    padding: 140px 100px;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

/* Section */
.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 160px;
}

/* second section layout */
.about-section.second {
    gap: 120px;
}

/* text */
.text {
    width: 40%;
}

.text h2 {
    font-size: 34px;
    letter-spacing: 3px;
    font-weight: 300;
    margin-bottom: 25px;
}

.text h2 span {
    font-size: 70px;
    font-style: italic;
}

.text p {
    font-size: 16px;
    line-height: 1.7;
    color: #333;
}

/* Image */
.image-wrapper {
    position: relative;
    width: 580px;
    height: 416px;
}

.image-wrapper img {
    width: 560px;
    height: 400px;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

/* background box */
.image-wrapper .bg {
    position: absolute;
    top: -16px;
    left: 16px;
    width: 580px;
    height: 416px;
    background: #f2e9e4;
    z-index: 1;
}

/* second section bg alignment */
.about-section.second .bg {
    left: -16px;
}

/* Login */
.login-btn {
    color: #d28c60;
    font-weight: bold;
    cursor: pointer;
}

/* ===== FOOTER ===== */
.about-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 60px 100px;
    font-size: 13px;
    border-top: 1px solid #ddd;
}

.footer-btn {
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #dfa47a;
    text-decoration: none;
    color: #000;
}

.footer-line {
  width: 100%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.3);
  margin-bottom: 45px;
}

/* Responsive */
@media (max-width: 900px) {
    .about-page {
        padding: 120px 40px;
    }

    .about-section,
    .about-section.second {
        flex-direction: column;
        text-align: center;
    }

    .text {
        width: 100%;
        margin-bottom: 40px;
    }

    .image-wrapper {
        transform: scale(0.9);
    }
}

@media (max-width: 480px) {
    .about-page {
        padding: 100px 20px;
    }

    .image-wrapper {
        transform: scale(0.8);
    }

    .text h2 {
        font-size: 26px;
    }

    .about-footer {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .about-footer {
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
}