html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}


main {
  flex: 1;
}

.about-page {
  padding: 80px 20px;
}

.about-section {
  max-width: 1100px;
  margin: 0 auto 140px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 130px;
}

.about-section .text {
  max-width: 500px;
  padding-top: 40px;
}

/* Headings */
.about-section .text h2 {
  font-size: 38px;
  margin-bottom: 20px;
  white-space: nowrap;
}

.about-section .text p {
  font-size: 15px;
  line-height: 1.65;
  max-width: 600px;
  text-align: left;
}

.about-section.second .text {
  padding-left: 40px;
}

.about-section.second .text p {
  max-width: 550px;
}

/* Image */
.image-wrapper {
  position: relative;
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
}

.image-wrapper img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 2;
}

.image-wrapper .bg {
  position: absolute;
  inset: 0;
  background: #f2f2f2;
  transform: translate(20px, 20px);
  z-index: 1;
}

@media (max-width: 900px) {
  .about-section {
    gap: 90px;
  }
}

@media (max-width: 768px) {
  .about-section {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 50px;
  }

  .about-section .text {
    max-width: 100%;
    padding-top: 0;
    padding-left: 0;
  }

  .about-section .text h2 {
    white-space: normal;
  }

  .about-section .text p {
    max-width: 100%;
    text-align: center;
    font-size: 14px;
  }

  .about-section.second {
    direction: rtl;
  }

  .about-section.second > * {
    direction: ltr;
  }
}

@media (max-width: 480px) {
  .about-section {
    margin-bottom: 100px;
  }

  .about-section .text h2 {
    font-size: 30px;
  }

  .image-wrapper .bg {
    transform: translate(12px, 12px);
  }
}

@media (max-width: 347px) {
  .about-section .text h2 {
    font-size: 26px;
  }

  .about-section .text p {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .navbar {
    padding: 20px;
  }

  .navbar nav ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }
}

@media (max-width: 480px) {
  .logo {
    text-align: center;
    margin-bottom: 10px;
  }

  .navbar nav ul {
    font-size: 14px;
  }
}

.about-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 60px 20px;
  width: 100%;
}

@media (max-width: 768px) {
  .about-footer {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}