.contact-page {
  max-width: 1200px;
  margin: 120px auto;
  padding: 0 24px;
  font-family: 'Montserrat', sans-serif;
  color: #3c3c3c;
}

/* Top contact */
.contact-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
  margin-bottom: 120px;
}

.contact-info h1 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  margin-bottom: 24px;
}

.contact-info p {
  font-size: 14px;
  line-height: 1.8;
  color: #7a7a7a;
}

/* Image with background block */
.contact-image-wrapper {
  position: relative;
}

.contact-image-bg {
  position: absolute;
  top: 40px;
  right: -40px;
  width: 100%;
  height: 100%;
  background: #f6eee8;
  z-index: 1;
  border-radius: 8px;
}

.contact-image {
  position: relative;
  z-index: 2;
  width: 100%;
  display: block;
  border-radius: 8px;
}

/* BOTTOM: */
.contact-bottom {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 100px;
  align-items: start;
}

/* Form */
.form-wrapper {
  position: relative;
}

.form-bg {
  position: absolute;
  top: 30px;
  left: -30px;
  width: 100%;
  height: 100%;
  background: #f6eee8;
  z-index: 1;
  border-radius: 8px;
}

.contact-form {
  position: relative;
  z-index: 2;
  background: #fff;
  padding: 50px;
  border-radius: 8px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-bottom: 24px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #cfcfcf;
  padding: 10px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  outline: none;
  background: transparent;
}

.contact-form textarea {
  resize: none;
  height: 80px;
  margin-top: 10px;
}

.submit-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  margin-top: 30px;
  border-radius: 4px;
}

/*Touch block */
.get-in-touch h2 {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  margin-bottom: 20px;
}

.get-in-touch p {
  font-size: 14px;
  line-height: 1.8;
  color: #7a7a7a;
  margin-bottom: 20px;
}

.get-in-touch a {
  font-size: 12px;
  text-decoration: underline;
  color: #000;
}

.site-footer .book-btn {
  background: #fff;
  color: #000;
  border: 2px solid orange;
  border-radius: 8px;
  padding: 12px 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  cursor: pointer;
  box-shadow: none;
}

.site-footer{
    background:white
}

.nav a.active {
  color: #000000 !important;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .contact-top,
  .contact-bottom {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .contact-image-bg,
  .form-bg {
    display: none;
  }
}

@media (max-width: 360px) {
  .contact-page {
    margin: 80px auto;
  }

  .form-row {
    grid-template-columns: 1fr;
  }

  .contact-form {
    padding: 24px;
  }

  .submit-btn {
    width: 100%;
  }
}